* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  border: 2px solid gold;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  background-color: #4b4b4b;  
}

.scrunchContainer {
  /* border: 2px solid magenta; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* scrunched state */
.card-container {
  /* border: 2px solid red; */
  display: flex;
  width: 95vw;
  height: calc(304 / 1280 * 95vw);
  /* height: 40vh; */
  transform: scaleX(0.3); /* Default scrunched state */
  transition: transform 0.4s ease-in-out;
}

/* Hover effect to unscrunch */
.scrunchContainer:hover .card-container {
  transform: scaleX(1);
}

/* scrunched state */
.fold  {
  border: 2px solid #4b4b4b;
  flex: 1;
  background-size: cover;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}
.fold:nth-child(even) {
  transform: skewY(-15deg)
}
.fold:nth-child(odd) {
  transform: skewY(15deg)
}

.scrunchContainer:hover .fold:nth-child(odd) {
  transform: skewY(0deg);
}

.scrunchContainer:hover .fold:nth-child(even) {
  transform: skewY(0deg);
}
